In [3]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline 
import numpy as np

import sys; sys.path.insert(0, '../')
import geoplot as gplt
import geopandas as gpd
from shapely.geometry import Point
import shapely
import mplleaflet

In [9]:
routine = pd.read_csv('data/AdultsRoutineCheckup.csv')

In [11]:
routine.head(1)

,Indicator Name,What Is This Indicator,Location Type,Location,Indicator Value,Indicator Value Units,Lower Confidence Interval,Upper Confidence Interval,Indicator Value Unstable,Period of Measure,...,Technical Note,Breakout Title,Breakout Category,Breakout Subcategory,Breakout Value,Breakout Value Units,Breakout Lower Confidence Interval,Breakout Upper Confidence Interval,Breakout Unstable,Breakout Footer
0,Adults who have had a Routine Checkup,This indicator shows the percentage of adults ...,Census Tract,48453000101,69.1,percent,68.2,70.0,No,2014,...,Sub-county small area estimates use state and ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
routine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 189 entries, 0 to 188
Data columns (total 21 columns):
Indicator Name                        189 non-null object
What Is This Indicator                189 non-null object
Location Type                         189 non-null object
Location                              189 non-null int64
Indicator Value                       189 non-null float64
Indicator Value Units                 189 non-null object
Lower Confidence Interval             189 non-null float64
Upper Confidence Interval             189 non-null float64
Indicator Value Unstable              189 non-null object
Period of Measure                     189 non-null int64
Data Source                           189 non-null object
Technical Note                        189 non-null object
Breakout Title                        0 non-null float64
Breakout Category                     0 non-null float64
Breakout Subcategory                  0 non-null float64
Breakout Value                        0 non-null float64
Breakout Value Units                  0 non-null float64
Breakout Lower Confidence Interval    0 non-null float64
Breakout Upper Confidence Interval    0 non-null float64
Breakout Unstable                     0 non-null float64
Breakout Footer                       0 non-null float64
dtypes: float64(12), int64(2), object(7)
memory usage: 31.1+ KB

In [12]:
routine.describe()

,Location,Indicator Value,Lower Confidence Interval,Upper Confidence Interval,Period of Measure,Breakout Title,Breakout Category,Breakout Subcategory,Breakout Value,Breakout Value Units,Breakout Lower Confidence Interval,Breakout Upper Confidence Interval,Breakout Unstable,Breakout Footer
count,1.890000e+02,189.000000,189.000000,189.000000,189.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,4.845300e+10,64.347090,63.391534,65.266138,2014.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,5.717810e+02,4.192947,4.391497,3.991816,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,4.845300e+10,53.700000,51.500000,55.900000,2014.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,4.845300e+10,61.600000,60.500000,62.600000,2014.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,4.845300e+10,64.200000,63.400000,65.100000,2014.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,4.845300e+10,67.300000,66.500000,68.100000,2014.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,4.845300e+10,75.400000,74.900000,75.800000,2014.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
no_ins = pd.read_csv('data/AdultsWithoutHealthInsurance.csv')

In [15]:
no_ins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 189 entries, 0 to 188
Data columns (total 21 columns):
Indicator Name                        189 non-null object
What Is This Indicator                189 non-null object
Location Type                         189 non-null object
Location                              189 non-null int64
Indicator Value                       189 non-null float64
Indicator Value Units                 189 non-null object
Lower Confidence Interval             189 non-null float64
Upper Confidence Interval             189 non-null float64
Indicator Value Unstable              189 non-null object
Period of Measure                     189 non-null int64
Data Source                           189 non-null object
Technical Note                        189 non-null object
Breakout Title                        0 non-null float64
Breakout Category                     0 non-null float64
Breakout Subcategory                  0 non-null float64
Breakout Value                        0 non-null float64
Breakout Value Units                  0 non-null float64
Breakout Lower Confidence Interval    0 non-null float64
Breakout Upper Confidence Interval    0 non-null float64
Breakout Unstable                     0 non-null float64
Breakout Footer                       0 non-null float64
dtypes: float64(12), int64(2), object(7)
memory usage: 31.1+ KB

In [16]:
rrps_F = pd.read_csv('data/ElderlyRecievedRecommendedPreventationServicesFemales.csv')

# Mapping Pipeline

In [7]:
# Shape the data.
census_tracts = gpd.read_file("data/External_census_tracts_2010/External_census_tracts_2010.shp")
census_tracts = census_tracts.to_crs(epsg=4326)
routine = pd.read_csv('data/AdultsRoutineCheckup.csv')

print(census_tracts)
# +airbnbs = listings[['latitude', 'longitude']].apply(lambda srs: Point(srs['longitude'], srs['latitude']), axis='columns')
# routine_tracts = gpd.GeoDataFrame(data=listings, geometry=airbnbs)
# +listings['price'] = listings['price'].map(lambda p: p[1:].replace(".", "").replace(",", "")).astype(float)
# +listings = listings[['price', 'geometry']].dropna()
# austin_polygon = shapely.ops.cascaded_union(census_tracts)

     OBJECTID STATEFP10 COUNTYFP10 TRACTCE10      GEOID10   NAME10  \
0          19        48        209    010200  48209010200      102
1          20        48        209    010100  48209010100      101
2          21        48        209    010600  48209010600      106
3          22        48        209    010500  48209010500      105
4          23        48        209    010400  48209010400      104
5          24        48        209    010302  48209010302   103.02
6          25        48        209    010902  48209010902   109.02
7          26        48        053    960600  48053960600     9606
8          27        48        053    960500  48053960500     9605
9          28        48        053    960300  48053960300     9603
10         29        48        053    960700  48053960700     9607
11         30        48        053    960400  48053960400     9604
12         31        48        053    960200  48053960200     9602
13         32        48        053    960100  48053960100     9601
14         33        48        053    960800  48053960800     9608
15         34        48        453    001857  48453001857    18.57
16         35        48        453    001862  48453001862    18.62
17         36        48        453    001855  48453001855    18.55
18         37        48        453    001859  48453001859    18.59
19         38        48        453    001858  48453001858    18.58
20         39        48        453    001779  48453001779    17.79
21         40        48        453    001776  48453001776    17.76
22         41        48        453    002425  48453002425    24.25
23         42        48        453    001915  48453001915    19.15
24         43        48        453    001778  48453001778    17.78
25         44        48        453    001777  48453001777    17.77
26         45        48        453    001770  48453001770    17.70
27         46        48        453    001775  48453001775    17.75
28         47        48        453    001772  48453001772    17.72
29          1        48        209    010901  48209010901   109.01
..        ...       ...        ...       ...          ...      ...
347       328        48        491    021402  48491021402   214.02
348       329        48        491    020301  48491020301   203.01
349       330        48        491    020113  48491020113   201.13
350       331        48        491    020509  48491020509   205.09
351       332        48        491    020605  48491020605   206.05
352       333        48        491    020312  48491020312   203.12
353       334        48        491    020410  48491020410   204.10
354       335        48        491    020316  48491020316   203.16
355       336        48        491    020323  48491020323   203.23
356       337        48        491    020327  48491020327   203.27
357       338        48        491    020322  48491020322   203.22
358       339        48        491    020313  48491020313   203.13
359       340        48        491    020315  48491020315   203.15
360       341        48        491    020510  48491020510   205.10
361       342        48        491    020708  48491020708   207.08
362       343        48        491    020706  48491020706   207.06
363       364        48        021    950200  48021950200     9502
364       365        48        021    950100  48021950100     9501
365       366        48        021    950300  48021950300     9503
366       367        48        021    950400  48021950400     9504
367       368        48        031    950100  48031950100     9501
368       369        48        031    950200  48031950200     9502
369       370        48        055    960102  48055960102  9601.02
370       371        48        055    960101  48055960101  9601.01
371       372        48        055    960500  48055960500     9605
372       373        48        055    960700  48055960700     9607
373       374        48        055    960600  48055960600     9606
374       375        48        055    960400  48055960400     9604
375       376        48        055    960300  48055960300     9603
376       377        48        055    960200  48055960200     9602

               NAMELSAD10 MTFCC10 FUNCSTAT10       ALAND10    AWATER10  \
0        Census Tract 102   G5020          S  1.717697e+06         0.0
1        Census Tract 101   G5020          S  1.596275e+06         0.0
2        Census Tract 106   G5020          S  1.031522e+08     48640.0
3        Census Tract 105   G5020          S  1.275856e+07     15186.0
4        Census Tract 104   G5020          S  6.121759e+07   1397644.0
5     Census Tract 103.02   G5020          S  7.639276e+06    118736.0
6     Census Tract 109.02   G5020          S  1.415788e+08     63926.0
7       Census Tract 9606   G5020          S  1.494867e+08   1189473.0
8       Census Tract 9605   G5020          S  2.446636e+07   9564531.0
9       Census Tract 9603   G5020          S  5.768045e+07    300133.0
10      Census Tract 9607   G5020          S  6.400574e+07   2463139.0
11      Census Tract 9604   G5020          S  3.641969e+08  23787453.0
12      Census Tract 9602   G5020          S  7.617990e+08  17193236.0
13      Census Tract 9601   G5020          S  7.941026e+08   2734035.0
14      Census Tract 9608   G5020          S  3.593790e+08  12708565.0
15     Census Tract 18.57   G5020          S  7.103720e+06     12579.0
16     Census Tract 18.62   G5020          S  4.098223e+06         0.0
17     Census Tract 18.55   G5020          S  1.887808e+07      5095.0
18     Census Tract 18.59   G5020          S  5.839578e+07     31988.0
19     Census Tract 18.58   G5020          S  3.063394e+07      8413.0
20     Census Tract 17.79   G5020          S  2.011090e+07   2864614.0
21     Census Tract 17.76   G5020          S  2.008447e+06         0.0
22     Census Tract 24.25   G5020          S  1.946758e+06      2146.0
23     Census Tract 19.15   G5020          S  6.224987e+06         0.0
24     Census Tract 17.78   G5020          S  8.345453e+06   1118859.0
25     Census Tract 17.77   G5020          S  2.675401e+06         0.0
26     Census Tract 17.70   G5020          S  1.332100e+07         0.0
27     Census Tract 17.75   G5020          S  1.920833e+07         0.0
28     Census Tract 17.72   G5020          S  6.872026e+06         0.0
29    Census Tract 109.01   G5020          S  8.425981e+07         0.0
..                    ...     ...        ...           ...         ...
347   Census Tract 214.02   G5020          S  4.553430e+06    195950.0
348   Census Tract 203.01   G5020          S  1.452640e+08    809067.0
349   Census Tract 201.13   G5020          S  5.834360e+06     17955.0
350   Census Tract 205.09   G5020          S  4.491950e+06    100611.0
351   Census Tract 206.05   G5020          S  1.678363e+07     30789.0
352   Census Tract 203.12   G5020          S  8.852282e+06      4324.0
353   Census Tract 204.10   G5020          S  2.618089e+06      1128.0
354   Census Tract 203.16   G5020          S  4.321021e+06    132662.0
355   Census Tract 203.23   G5020          S  1.589039e+06         0.0
356   Census Tract 203.27   G5020          S  4.169873e+06       769.0
357   Census Tract 203.22   G5020          S  4.685554e+06     37492.0
358   Census Tract 203.13   G5020          S  6.155813e+06       911.0
359   Census Tract 203.15   G5020          S  8.449151e+06    163717.0
360   Census Tract 205.10   G5020          S  7.485857e+06      1268.0
361   Census Tract 207.08   G5020          S  3.981746e+06     49514.0
362   Census Tract 207.06   G5020          S  3.082859e+06      8221.0
363     Census Tract 9502   G5020          S  3.706393e+07     31442.0
364     Census Tract 9501   G5020          S  3.917775e+08   2852893.0
365     Census Tract 9503   G5020          S  3.476830e+08   3634226.0
366     Census Tract 9504   G5020          S  4.491274e+07    885840.0
367     Census Tract 9501   G5020          S  1.284201e+09   9083085.0
368     Census Tract 9502   G5020          S  5.527512e+08   1731526.0
369  Census Tract 9601.02   G5020          S  3.230174e+08    702119.0
370  Census Tract 9601.01   G5020          S  2.664858e+08   1170083.0
371     Census Tract 9605   G5020          S  2.316886e+08   1598391.0
372     Census Tract 9607   G5020          S  3.427417e+07    361085.0
373     Census Tract 9606   G5020          S  4.929921e+08    926329.0
374     Census Tract 9604   G5020          S  2.388334e+07     89796.0
375     Census Tract 9603   G5020          S  1.043159e+07     15765.0
376     Census Tract 9602   G5020          S  2.943503e+07     70304.0

      INTPTLAT10    INTPTLON10    SHAPE_AREA      SHAPE_LEN  \
0    +29.8902378  -097.9458110  1.717933e+06    5789.763189
1    +29.8801282  -097.9460056  1.596495e+06    8393.454627
2    +29.8619149  -098.0236320  1.032152e+08   52319.684613
3    +29.8428579  -097.9740411  1.277589e+07   27589.928822
4    +29.8195517  -097.9577160  6.262685e+07   42933.464573
5    +29.8672478  -097.9012088  7.759170e+06   14117.215110
6    +30.0636519  -097.9035162  1.416461e+08   62578.713672
7    +30.6414256  -098.3313104  1.506465e+08   79111.041725
8    +30.5931299  -098.3818537  3.402457e+07   37861.287959
9    +30.7676681  -098.2243224  5.796782e+07   50372.365782
10   +30.5882901  -098.2601029  6.645663e+07   46065.928060
11   +30.7145168  -098.2497841  3.879026e+08  146246.816335
12   +30.9073572  -098.2651694  7.788114e+08  165293.409170
13   +30.8831365  -098.0115225  7.966540e+08  143788.502434
14   +30.5182468  -098.1939001  3.720247e+08  116919.194087
15   +30.4619546  -097.6542643  7.115228e+06   13192.463734
16   +30.4530833  -097.6266893  4.097628e+06    8272.022959
17   +30.4750263  -097.6114913  1.888030e+07   21711.105665
18   +30.4467544  -097.5282758  5.841949e+07   33460.130585
19   +30.4594972  -097.5774418  3.063783e+07   25671.420621
20   +30.4407103  -098.0003743  2.297226e+07   25034.494691
21   +30.2118527  -097.8404476  2.008356e+06    6015.819878
22   +30.1630433  -097.7822186  1.948860e+06    6541.741795
23   +30.2404350  -097.8367552  6.224603e+06   18126.398551
24   +30.3679990  -097.9644568  9.463232e+06   16145.587791
25   +30.2047084  -097.8497728  2.675286e+06    7604.676263
26   +30.1912685  -097.8925102  1.332049e+07   18344.317547
27   +30.1637643  -097.8836290  1.920786e+07   25919.783146
28   +30.1367232  -097.8391951  6.871955e+06   13705.467028
29   +30.1306037  -097.9200068  8.425920e+07   41861.900109
..           ...           ...           ...            ...
347  +30.6378713  -097.6804745  4.748447e+06   11471.624106
348  +30.6493360  -097.9481495  1.460440e+08   67022.262619
349  +30.6721575  -097.6597344  5.851133e+06   13568.347487
350  +30.5117628  -097.7547728  4.591812e+06   11937.842911
351  +30.5713463  -097.7389646  1.681139e+07   19022.743788
352  +30.5657819  -097.8692397  8.855023e+06   15164.166270
353  +30.4429690  -097.7641751  2.618844e+06    9718.762742
354  +30.4917092  -097.8173594  4.452989e+06    8685.696516
355  +30.5343439  -097.8532318  1.588769e+06    5021.379944
356  +30.5182459  -097.8329099  4.169954e+06    9736.968169
357  +30.4988919  -097.8345953  4.722285e+06   11958.515506
358  +30.5128120  -097.8078561  6.155710e+06   10970.199738
359  +30.5288145  -097.7728838  8.611427e+06   19289.572153
360  +30.4923787  -097.7483125  7.485939e+06   14858.108604
361  +30.5054308  -097.6334049  4.030600e+06    9835.944365
362  +30.5133553  -097.6181665  3.090575e+06   10160.500236
363  +30.3542454  -097.3737427  3.709131e+07   28140.508762
364  +30.2837407  -097.3403844  3.945993e+08  151995.510598
365  +30.0824826  -097.4146099  3.513232e+08  139830.298598
366  +30.1078302  -097.3091595  4.579882e+07   43919.357730
367  +30.3348318  -098.3963962  1.293153e+09  158724.768613
368  +30.1032447  -098.3990786  5.544891e+08  117001.942352
369  +29.8695362  -097.5752147  3.237686e+08  128526.901487
370  +29.9749596  -097.6728324  2.676786e+08   80712.911866
371  +29.8316191  -097.7886427  2.333289e+08   96675.288248
372  +29.6773536  -097.6424231  3.464538e+07   48368.089670
373  +29.7528380  -097.5324460  4.940339e+08  143373.591232
374  +29.9075824  -097.6905239  2.397624e+07   23432.912975
375  +29.8712798  -097.6973492  1.044890e+07   17178.267176
376  +29.8615388  -097.6407418  2.950994e+07   30564.892527

                                              geometry
0    POLYGON ((-97.93666000000552 29.89046100043785...
1    POLYGON ((-97.93967700014046 29.88024100008267...
2    POLYGON ((-98.09889600009564 29.94148700011079...
3    POLYGON ((-97.94033399955019 29.88019899964612...
4    POLYGON ((-97.87570900029174 29.85788100006256...
5    POLYGON ((-97.89900200039195 29.8572179996371,...
6    POLYGON ((-98.03060300001526 30.11991499988809...
7    POLYGON ((-98.28974899982884 30.5666120001629,...
8    POLYGON ((-98.40058200007952 30.59941300025164...
9    POLYGON ((-98.26812999962948 30.76243200031782...
10   POLYGON ((-98.28950499979423 30.56628699992008...
11   POLYGON ((-98.09963699963305 30.69372399984942...
12   POLYGON ((-98.42221299975238 30.83837799975489...
13   POLYGON ((-97.87169599953916 30.86734099978265...
14   POLYGON ((-98.35159799991989 30.52023000032221...
15   POLYGON ((-97.65149900003478 30.45601700002912...
16   POLYGON ((-97.62947699980791 30.44392300030184...
17   POLYGON ((-97.61029700047249 30.49017600042311...
18   POLYGON ((-97.52451700047865 30.39969799995433...
19   POLYGON ((-97.61391399982708 30.43658999977075...
20   POLYGON ((-97.98620700011976 30.47687400018, -...
21   POLYGON ((-97.83623399984653 30.21965000040418...
22   POLYGON ((-97.78399099971651 30.16691400005762...
23   POLYGON ((-97.81047099985209 30.239910000125, ...
24   POLYGON ((-97.97671199978593 30.3453540003722,...
25   POLYGON ((-97.83964800031046 30.19955199993452...
26   POLYGON ((-97.91904099982347 30.18948099973633...
27   POLYGON ((-97.92790200035071 30.18838799973625...
28   POLYGON ((-97.83908799991769 30.14960799988316...
29   POLYGON ((-97.98359299985104 30.11708099980141...
..                                                 ...
347  POLYGON ((-97.67184199992131 30.63330500029879...
348  POLYGON ((-97.90323100050676 30.66394699966678...
349  POLYGON ((-97.66401400004165 30.67443400000655...
350  POLYGON ((-97.74485399962494 30.5075930003445,...
351  POLYGON ((-97.74888400036745 30.58243199957182...
352  POLYGON ((-97.87513600006466 30.57566000009802...
353  POLYGON ((-97.7748320003284 30.44266400030667,...
354  POLYGON ((-97.83075699972277 30.48586099994006...
355  POLYGON ((-97.85661400002687 30.52906100003876...
356  POLYGON ((-97.8406979998943 30.50464199983834,...
357  POLYGON ((-97.84075800012569 30.50462200002831...
358  POLYGON ((-97.81586100017319 30.52395399994123...
359  POLYGON ((-97.77421099960549 30.51178999978491...
360  POLYGON ((-97.74533899981914 30.50754100007108...
361  POLYGON ((-97.64547000031088 30.50376700045373...
362  POLYGON ((-97.62590500041985 30.51056500005156...
363  POLYGON ((-97.40499800039316 30.3596120004345,...
364  POLYGON ((-97.19494599972154 30.24310000018862...
365  POLYGON ((-97.44645199953173 30.02774099967411...
366  POLYGON ((-97.35095300043734 30.10775699986102...
367  POLYGON ((-98.58785699950744 30.23263599968779...
368  POLYGON ((-98.29758199964584 30.03804200032786...
369  POLYGON ((-97.47222700019819 29.85531800025419...
370  POLYGON ((-97.66745199988696 30.06234300011086...
371  POLYGON ((-97.89780899991727 29.85726000032707...
372  POLYGON ((-97.65518200011731 29.70925299959941...
373  POLYGON ((-97.71685000033862 29.74383899957076...
374  POLYGON ((-97.65700200009033 29.89479200033201...
375  POLYGON ((-97.72617800010977 29.88384500042515...
376  POLYGON ((-97.65926100014302 29.8934470002856,...

[377 rows x 16 columns]

In [10]:
# from geoid import acs

In [71]:

df3 = pd.DataFrame(census_tracts)
df3 = df3[['INTPTLAT10', 'INTPTLON10', 'GEOID10']]

df3['GEOID10'] = df3['GEOID10'].astype(int)

In [72]:
df3.head()

    INTPTLAT10    INTPTLON10      GEOID10
0  +29.8902378  -097.9458110  48209010200
1  +29.8801282  -097.9460056  48209010100
2  +29.8619149  -098.0236320  48209010600
3  +29.8428579  -097.9740411  48209010500
4  +29.8195517  -097.9577160  48209010400

In [74]:
ind = pd.read_csv('data/IndicatorsData.csv')
ind['Location'] = ind['Location'].astype(int)

ind.head()

,Unnamed: 0,Location,Arthritis,Cancer_x,Diabetes_x,Cholesterol_x,Obese_x,HBP_x,Routine_x,NoInsurance_x,...,Cholesterol_y,Obese_y,HBP_y,Routine_y,NoInsurance_y,ElderlyPoverty_y,ElderlyAlone_y,FemaleServices_y,MaleServices_y,NoVehicle
0,0,48453000101,17.4,7.3,6.5,35.8,19.3,26.9,69.1,10.1,...,35.8,19.3,26.9,69.1,10.1,5.1,49.6,34.2,38.9,8.8
1,1,48453000102,20.5,8.8,7.8,41.9,19.8,32.0,73.4,6.8,...,41.9,19.8,32.0,73.4,6.8,0.0,39.3,38.7,39.8,1.6
2,2,48453000203,6.9,2.3,3.2,22.6,17.8,14.3,60.2,16.8,...,22.6,17.8,14.3,60.2,16.8,8.2,27.5,31.1,33.7,2.4
3,3,48453000204,12.0,4.1,5.1,30.9,20.9,20.2,63.4,13.0,...,30.9,20.9,20.2,63.4,13.0,15.8,23.0,32.6,35.2,8.3
4,4,48453000205,11.1,3.8,5.1,29.4,21.6,19.3,62.7,14.9,...,29.4,21.6,19.3,62.7,14.9,0.0,23.6,32.9,35.3,9.0

In [75]:
merged = ind.merge(df3, left_on='Location', right_on='GEOID10', how='inner')

In [81]:
# merged['Latitude'] = merged['INTPTLAT10'] 
# merged['Longitude'] = merged['INTPTLON10']

In [82]:
# ind.Location.unique()

In [83]:
merged.to_csv('merged2.csv')